{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "import/prefer-default-export": false,
    "no-console": 0
  },
  "parserOptions": {
    "ecmaVersion": 6, 
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
      "browser": true
  }
}
